{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
	<title>Document</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  {% comment %}  <script src="{% static 'js/pages/currency_converter.js' %}"></script>{% endcomment %}
</head>
<body class=" wow fadeIn">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="padding: 0;">
				<header>
					<nav class="navbar navbar-inverse">
						  <div class="container-fluid">
						    <!-- Brand and toggle get grouped for better mobile display -->
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="#">Brand</a>
						    </div>

						    <!-- Collect the nav links, forms, and other content for toggling -->
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav navbar-right">

						      </ul>
						    </div><!-- /.navbar-collapse -->
						  </div><!-- /.container-fluid -->
						</nav>
				</header>
			</div>

			<div class="col-md-2" style="padding: 0;">
				<div class="sidenav">
					<ul>
						<li><a href="/">Dashboard</a></li>
						<li><a href="/">Employees</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">

				<section>
					<article>
						<div class="row">
							<div class="col-md-4">
								<a href="employees.html">
									<div class="card">
										<img src="{% static 'img/user.png' %}">
										<h2>Employees</h2>
										<p>
											<span class="pull-left">No. of Employees</span>
											<span class="pull-right"><b>25</b></span>
										</p>
									</div>
								</a>
							</div>

							<div class="col-md-4">
								<a href="projects.html">
									<div class="card">
										<img src="{% static 'img/business.png' %}">
										<h2>Projects</h2>
										<p>
											<span class="pull-left">No. of Projects</span>
											<span class="pull-right"><b>21</b></span>
										</p>
									</div>
								</a>
							</div>

						</div>
					</article>
				</section>

				<footer></footer>
			</div>
		</div>
	</div>
	


	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>