{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
	<title>Document</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body class=" wow fadeIn">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="padding: 0;">
				<header>
					<nav class="navbar navbar-inverse">
						  <div class="container-fluid">
						    <!-- Brand and toggle get grouped for better mobile display -->
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="#">Brand</a>
						    </div>

						    <!-- Collect the nav links, forms, and other content for toggling -->
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav navbar-right">

						      </ul>
						    </div><!-- /.navbar-collapse -->
						  </div><!-- /.container-fluid -->
						</nav>
				</header>
			</div>

			<div class="col-md-2">
				<div class="sidenav">
					<ul>
						<li><a href="/">Dashboard</a></li>
						<li><a href="/">Employees</a></li>
						<li><a href="/projects">Projects</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">

				<section>
					<article>
						<h2 style="margin-bottom: 30px; margin-top: 10px;">Projects</h2>
						<table class="table project-table table-striped">
							<thead>
								<tr>
									<th>Project Name</th>
									<th>Start date</th>
									<th>End date</th>
									<th>Duration</th>
									<th>Count of assigned employees</th>
									<th>Names of assigned employees</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Project 1</td>
									<td>01/02/2020</td>
									<td>01/02/2021</td>
									<td>12 months</td>
									<td>4</td>
									<td>John, Martin, Jack, Maria</td>
								</tr>
								<tr>
									<td>Project 1</td>
									<td>01/02/2020</td>
									<td>01/02/2021</td>
									<td>12 months</td>
									<td>4</td>
									<td>John, Martin, Jack, Maria</td>
								</tr>
								<tr>
									<td>Project 1</td>
									<td>01/02/2020</td>
									<td>01/02/2021</td>
									<td>12 months</td>
									<td>4</td>
									<td>John, Martin, Jack, Maria</td>
								</tr>
							</tbody>
						</table>

					</article>
				</section>

				<footer></footer>
			</div>
		</div>
	</div>
	


	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/datatables.min.js"></script>


	<script type="text/javascript">
		$('.project-table').DataTable( {

		} );
	</script>
</body>
</html>